.display-movies{
    padding: 50px 50px;
}
.display-movies h1{
    font-weight: 500;
    font-size: 2rem;
}
.movie-card{
    display: flex;
    height: 50vh;
    gap: 50px;
    margin-top: 15px;
}
.show-card{
    height: 300px;
    transition: all 0.1s ease-in-out;
}
.show-card img{
    height: 200px;
    width: 100%;
    border-radius: 10px;
}
.show-card:hover{
    transform: scale(0.9);
    border-radius: 1px solid hotpink;
}